.page-4{
    background-color: #571A5C;
    height: fit-content;
    width: 100vw;
}
@media (min-width: 250px){
    .page-4 main{
        padding-top: 25%;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 5%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
    .page-4 main a{
        width: fit-content;
        margin: auto;
        margin-bottom: 5px;
    }
    .filler{
        display: none;
    }
}
@media (min-width: 920px){ 
    .filler{
        display: inherit;
    }
    .page-4 main{
        position: fixed;
        right: 10px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 2%;
        flex-direction: row;
        z-index: 1024;
    }
    .page-4 main a{
        margin-right: 10px;
        border: solid transparent 0px;
        border-radius: 10px;
        box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.75);
    }
}
